html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #777;
font: 300 20px/1.6 Lato, sans-serif;
-webkit-font-smoothing: antialiased;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ddd;
}


@media (max-width: 650px) {
	.finalorder {
	  padding: .1em 1.5em;
	  line-height: 85%;
	  color: #666;
	  background: #f0f0f3;
	  margin: .5em .5em .5em .5em;
	}
	/*h1 { font-size: 20px !important; }
	h2 { font-size: 16px !important; }
	h3 { font-size: 12px !important; }*/

	.alignright {
		display: none
	}
	.size-me {
		font-size: 12px
	}

	.too-big {
		display: none
	}
}
@media (min-width:651px) {
  .too-small {
    display: none
  }
    )
}

input {
  line-height: 150%;
  color: #666;
  background: #f0f0f3;
}

body {
  padding: 20px;
background-color: #e6e9ef;
}

.rightside {
  float: right;
}

.first-page {
  background-color: #e6e9ef;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}
h3 {
  padding: 10px 0 0 0 ;
}
h4 {
  padding: 10px 0 0 0 ;
}
span {
  padding: 10px 0 0 20px ;
}
dl {
  padding: 10px 0 0 20px ;
}
dd {
  padding: 10px 0 0 20px ;
}
p {
  padding: 10px 0 0 20px ;
  font-size: 1.5em;
  max-width:95%;
  white-space:pre-wrap;
}
/* View: Finalorder list */
.finalorders {
  list-style: none;
  height:100%;
  overflow:hidden;
}

.finalorders li {
  clear: both;
  background-color: white;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  /*margin: -0.5em 1em 1.5em 0;*/
  padding-bottom: 1em;
  width: 100px;
}

/* View: Finalorder detail */
.finalorder {
  background-color: gray;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  /*width: 400px;*/
}

.finalorder:first-child {
  display: block;
}
.li {
  border: none;
}
.finalorder-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.finalorder-thumbs {
  list-style: none;
  margin: 0;
}

.finalorder-thumbs img {
  height: 200px;
  padding: 1em;
  width: 200px;
}

.finalorder-thumbs li {
  background-color: white;
  /*border: 1px solid black;*/
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}


table {
color: #333;
max-width: 95%;
margin: 1em 0;
border-collapse:
collapse; border-spacing: 0;
overflow:auto;
align:center;
}

td, th {

height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */

}

th {
background: #434147; /* Darken header a bit */
font-weight: bold;
color: white;
text-align: center;
}

td {
background: #FAFAFA;
text-align: center;

}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */}

tr {

}
tr:nth-child(even) {
  background: #f3f3f3;
}
th,
td {
  line-height: 1.4;
}
