
<br><br>
      <div class="card-header">
      <i class="fa fa-search"></i>
      <input type="text" style="max-width:65%" class="form-control" placeholder="Search" ng-model="$ctrl.query">

        <!-- Search:
        <input ng-model="$ctrl.query" /><br class="too-small"><br class="too-small"> -->
        <h4>Sort by:
        <select ng-model="$ctrl.orderProp" class="text-dark" style="width:auto">
          <option class="text-dark" value="name">Alphabetical</option>
          <option class="text-dark" value="-year">Newest</option>

        </h4>
        </select>


    </div>

  <center>
      <div ng-repeat="finalorder in $ctrl.finalorders | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <br>
        <div class="card" style="max-width:95%">
        <div class="card-header" role="tab" id="headingOne">
          <h4 class="mb-0" style="max-width:85%; text-align:left">

            <a class="text-dark" href="#!/finalorders/{{finalorder.id}}">{{finalorder.name}}</a>
            </a>
          </h4>
        </div>



        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block text-dark" style="margin-left:3px; margin-right:3px"><center><br>
            <p style="max-width:80%; text-align:left">{{finalorder.snippet}}</p>
            <p style="max-width:80%; text-align:left">Judge: {{finalorder.judge.name}} </p>
            <p style="max-width:80%; text-align:left">FCHR Case No.: {{finalorder.id}}</p>
            <p style="max-width:80%; text-align:left">Year: {{finalorder.year}}</p>
            <br>

        </div>
      </div>
      </div>
</div>

      

    </div></center>
  </div>
</div>
</div>
</div>
