
<br><br><center>
  <div class="card" style="max-width:95%">
    <div class="card-header" role="tab" id="headingOne">
      <h4 class="mb-0 text-dark" style="max-width:85%; text-align:left">
        This is a repository of the Final Orders issued by the Florida
        Commission on Human Relations.
      </h4>
      <br>
      <p class="mb-0 text-dark" style="max-width:85%; text-align:left">
        The FCHR handles administrative claims of employment and housing
        discrimination. Before filing a discrimination claim in court, a
        person must exhaust their administrative remedies. This means they
        must typically file a claim with the FCHR first.
      </p>
      <br>
      <p class="mb-0 text-dark" style="max-width:85%; text-align:left">
        You can search or sort through the decisions. This site is build in NodeJS,
        serving JSON. To access this site as an API, click the top-left menu.
      </p>
      <br>
      <i class="fa fa-search"></i>
      <input type="text" style="max-width:65%" class="form-control" placeholder="Search" ng-model="$ctrl.query">
      <br>

      <h4 class="text-dark">Sort by:
        <select ng-model="$ctrl.orderProp" class="text-dark" style="width:auto">
          <option class="text-dark" value="name">Alphabetical</option>
          <option class="text-dark" value="-year">Newest</option>

        </h4>
        </select>


    </div>
    </div>


      <div ng-repeat="finalorder in $ctrl.finalorders | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <br>
        <div class="card" style="max-width:95%">
        <div class="card-header" role="tab" id="headingOne">
          <h4 class="mb-0" style="max-width:85%; text-align:left">

            <a class="text-dark" href="#!/finalorders/{{finalorder.id}}">{{finalorder.name}}</a>
            </a>
          </h4>
        </div>



        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block text-dark" style="margin-left:3px; margin-right:3px"><center><br>
            <p style="max-width:80%; text-align:left">{{finalorder.snippet}}</p>
            <p style="max-width:80%; text-align:left">Judge: {{finalorder.judge.name}} </p>
            <p style="max-width:80%; text-align:left">FCHR Case No.: {{finalorder.id}}</p>
            <p style="max-width:80%; text-align:left">Year: {{finalorder.year}}</p>
            <br>

        </div>
      </div>
      </div>
</div>



    </div></center>
  </div>
</div>
</div>
</div>
