
<center>
  <h2>Florida Commission on Human Relations<br>Final Orders</h2>
</center>

<div class="container-fluid">

  <div class="row">

      <!--Sidebar content-->
      <h4 style="">
        Search:
        <input ng-model="$ctrl.query" /><br class="too-small"><br class="too-small">
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="-year">Newest</option>

        </select>

      </h4>


    <!-- <div class="col-md-10"> -->
      <!--Body content-->

      <!-- <ul class="finalorders"> -->

        <li ng-repeat="finalorder in $ctrl.finalorders | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail finalorder-list-item"style="text-align:justify; max-width:95%; height:auto; max-height:200px; overflow:hidden" >
          <a href="#!/finalorders/{{finalorder.id}}" class="thumb">
            <i class="material-icons md-48" style="width:100px">library_books</i><br>See Case<br>{{finalorder.id}}
          </a>
          <h4 class ="too-big" style="text-align:left; max-width:85%; overflow:hidden"><a href="#!/finalorders/{{finalorder.id}}">{{finalorder.name}}</a></h4>
          <h6 class ="too-big" style="text-align:left; overflow:hidden">Judge: {{finalorder.judge.name}} &nbsp &nbsp FCHR Case No.: {{finalorder.id}} &nbsp &nbsp Year: {{finalorder.year}}</h6>
          <h6 class ="too-small" style="text-align:left; overflow:hidden"><a href="#!/finalorders/{{finalorder.id}}">{{finalorder.name}}</a></h6>
          <div class="too-big"style="text-align:justify; max-width:85%; overflow:hidden">{{finalorder.snippet}}</div>
        </li>
      </ul>

    </div></center>
  </div>
</div>
